@page "/formsExample"
<ul>
    <li>
        <h2><a href="/">Homepage</a></h2>
    </li>
    <li>
        <h2><a href="/template-forms">Template driven forms</a></h2>
    </li>
    <li>
        <h2><a href="/reactive-forms">Reactive forms</a></h2>
    </li>
</ul>
