@page "/passwordchecker"
@using Microsoft.AspNetCore.Components.Forms
@using Blazor_Project.Services
@inject PasswordStrengthService passwordCheck
@inject ILogger<FormChecker> logger;
<link rel="stylesheet" href="css/FormChecker.css">

<div class="pass-input-wrapper">
    <h1 class="pass-title">Password strength</h1>
    <label class="pass-label">
        Supports only a combination of
        <br />
        <span @class="-invalid: !IsPasswordValid ? 'pass-invalid' : ''">digits/letters/symbols</span>
    </label>
    <InputText class="pass-input" @bind-Value="inputChecker" @oninput="CheckPassword" placeholder="Enter your password here" />

    <div class="pass-marker">
        @for (int i = 1; i <= 3; i++)
        {
            <span class="@GetSpanClass(i)"></span>
        }
    </div>
</div>

@code {
    private string inputChecker = "";
    private string displayedPasswordStrength = "";
    private bool IsPasswordValid => passwordCheck.IsEasyValidationPassed(inputChecker);
    private bool IsPasswordEasy => passwordCheck.IsEasyValidationPassed(inputChecker);
    private bool IsPasswordMedium => passwordCheck.IsMediumValidationPassed(inputChecker);
    private bool IsPasswordStrong => passwordCheck.IsStrongValidationPassed(inputChecker);

    private string GetSpanClass(int index)
    {
        if (string.IsNullOrEmpty(inputChecker))
        {
            return "spanColors invalid";
        }
        else if (inputChecker.Length < 8)
        {
            return "spanColors easy";
        }
        return index switch
        {
            1 => IsPasswordEasy ? "spanColors easy" : (IsPasswordMedium ? "spanColors medium" : (IsPasswordStrong ? "spanColors strong" : "spanColors invalid")),
            2 => IsPasswordMedium ? "spanColors medium" : (IsPasswordStrong ? "spanColors strong" : "spanColors invalid"),
            3 => IsPasswordStrong ? "spanColors strong" : "spanColors invalid",
            _ => "spanColors invalid",
        };
    }

    private void CheckPassword(ChangeEventArgs e)
    {
        inputChecker = e.Value?.ToString();
        UpdateDisplayedPasswordStrength();
    }

    private void UpdateDisplayedPasswordStrength()
    {
        displayedPasswordStrength = IsPasswordValid ? "Valid" : "Invalid";
    }
}