h2 {
    font-family: "Lemonada", cursive;
    font-weight: bold;
    font-size: larger;
}
button.animation-button {
    font-size: 0.9rem;
    border: 1px solid #000;
    padding: 5px 10px;
    margin: 20px;
    background-color: white;
}
button.animation-button:hover {
    background-color: purple;
    color: white;
    transition: 0.3s;
}
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    animation: route 0.3s ease-in;
}
.target {
    height: 70px;
    width: 70px;
    margin: 100px auto 0 auto;
    border-radius: 15%;
    background-color: #17b978;
    transform: scale3d(1, 1, 1);
}

.fadeIn {
    animation: fadeIn 1s;
}

.fadeInDown {
    animation: fadeInDown 2s;
}

.fadeInDownBig {
    animation: fadeInDownBig 1s;
}

.fadeInLeft {
    animation: fadeInLeft 2s;
}

.fadeInLeftBig {
    animation: fadeInLeftBig 1s;
}

.fadeInRight {
    animation: fadeInRight 2s;
}

.fadeInRightBig {
    animation: fadeInRightBig 1s;
}

.fadeInUp {
    animation: fadeInUp 2s;
}

.fadeInUpBig {
    animation: fadeInUpBig 1s;
}
@keyframes route {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDownBig {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRightBig {
    0% {
        opacity: 0;
        transform: translateX(2000px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}